<div class="container" style="text-align:center">


  <div class="row" style="text-align:center">
    <br>
    <div class="col-md-12" style="font-size:26px">
     
      <b>All Regions</b>
    
    </div>
    <br>
    <br>
    <br>
  </div>


  <!--

<div class="row" style="text-align:center" *ngIf="allRegions.length>0">
  <div *ngFor="let region of allRegions" class="col-md-4">
      <div class="card text-center" style="border:rgb(194, 63, 63) 2px solid; height: 300px"><br>
        <div class="card-body">
           Region Name: 
          <h3 class="card-title">{{region.region}}</h3>
    
         </div>     
         
       </div>
        <br><br>

        
  </div>

</div>
-->
  <div class="row" style="text-align:center">

    <div class="col-md-6">
      <div class="card text-center" style="border:rgb(194, 63, 63) 2px solid; height: 100px">
        <br> 
        <button routerLink="/region/asia" type="button" class="btn btn-primary"><a>Asia</a></button>

      </div><br>
    </div>

<br><br>

    <div class="col-md-6">
      <div class="card text-center" style="border:rgb(194, 63, 63) 2px solid; height: 100px">
        <br> 
        <button routerLink="/region/africa" type="button" class="btn btn-primary"><a>Africa</a></button>
      </div><br>
    </div>

    <br><br>

    <div class="col-md-6">
      <div class="card text-center" style="border:rgb(194, 63, 63) 2px solid; height: 100px">
        <br> 
        <button routerLink="/region/americas" type="button" class="btn btn-primary"><a>America</a></button>

      </div><br>
    </div>


    <br><br>

    <div class="col-md-6">
      <div class="card text-center" style="border:rgb(194, 63, 63) 2px solid; height: 100px">
        <br>
        <button routerLink="/region/europe" type="button" class="btn btn-primary"><a>Europe</a></button>

      </div><br>
    </div>

    <br><br>
    
    <div class="col-md-6">
      <div class="card text-center" style="border:rgb(194, 63, 63) 2px solid; height: 100px">
        <br> 
        <button routerLink="/region/oceania" type="button" class="btn btn-primary"><a>Oceania</a></button>

      </div>
    </div><br>

    <br><br>



  </div>
<br><br>


</div>